<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <style>
            table, th, td {
  border: 1px solid black;
  margin-top: 30px;
  border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <form method="post" action="/addCookie">
            <input type="text" name="key"  placeholder="Key">
            <input type="text" name="value" placeholder="Value">
            <button type="submit">Add Cookie</button>
        </form>
        <table>
            <th>Cookie</th>
            <th>Key-Value pair</th>
            <% for(const elements of cookieArr){ %> 
            <tr>
                <td><%= elements.key %></td>
                <td>key: <%= elements.val['key']%> value: <%= elements.val['val']%></td>
            </tr>  
            <% 
            }
             %>          
        </table>
    </body>
</html>